# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos virtuales
.venv/
.venv-build/

# Build de Windows
build/
dist/
ffmpeg-bin/

# Datos locales de la app
history.json

# Sistema operativo / editores
.DS_Store
*.swp
